<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <title>Your Cart</title>
    <style>
        body{
            background: url('/static/delivery/image/logo2.png') no-repeat center center fixed;
            background-size: cover;

        }
    </style>
</head>
<body>
    {% include 'delivery/navbar_full.html' %}

    {% comment %} <h1>Welcome {{ username }}</h1> {% endcomment %}
    <h1>Your Cart is Empty</h1>
    <h2>Add items</h2>


    {% if items %}
    <table border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
<tr>
    <td>
        <img src="{{ item.menu_item.picture }}" alt="{{ item.menu_item.name }}" width="100">
    </td>
    <td>{{ item.menu_item.name }}</td>
    <td>{{ item.menu_item.description }}</td>
    <td>₹{{ item.menu_item.price }}</td>
    <td>Qty: {{ item.quantity }}</td>
</tr>
{% endfor %}
        </tbody>
    </table>
    <h3>Total Price: ₹{{ total_price }}</h3>

    <form method="GET" action="{% url 'checkout' username %}">
        <button type="submit">Proceed to Checkout</button>
    </form>

    {% if restaurant_id %}
    <a href="{% url 'customer_menu' restaurant_id username %}">Back to Menu</a>
    {% endif %}
{% endif %}

</body>
</html>