<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <title>Welcome page</title>
</head>
<body class="welcome-page">
    <div class="welcome-container">
        <h2>Welcome to <span class="brand-name">Meal-Mate</span></h2>
        <div class="button-group">
            <a href="signin/" class="btn">SIGN IN</a><!--name attribute is not needed in url-->
            <a href="{% url 'signup' %}" class="btn">Sign Up</a> <!--then we will add name attribute in urls-->
        </div>
    </div>
</body>
</html>
